@charset "ISO-8859-1";

body {
	background-image:
		url("https://cdn.pixabay.com/photo/2020/08/09/08/23/aircraft-5474897_960_720.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: block;
	margin: 0px;
}

/*Header*/
.header {
	width: 100%;
	height: 80px;
	display: block;
	background-color: #101010;
	padding: 0px;
}

.inner_header {
	width: 1300px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container {
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1 {
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	font-weight: 200;
}

.logo_container h1 span {
	font-weight: 800;
}

.navigation {
	float: right;
	height: 100%;
}

.navigation li {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation li:last-child {
	padding-right: 0;
}

.navigation li a {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 30px;
	height: 100%;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 19px;
}

.navigation li a:hover {
	font-size: 25px;
	color: #1c87c9;
}

/*Header End*/
.search input {
	padding: 10px;
	border: 0;
	font-size: 20px;
	width: 40%;
	border: 10px;
	border-color: blue;
	border-radius: 10px;
	margin: 10px;
	align: center;
	outline: none;
}

.search {
	width: 50%;
	position: absolute;
	left: 25%;
	top: 40%;
}

.searchButton {
	align-self: center;
	padding: 7px;
	margin-top: 20px;
	color: white;
	background: #1c87c9;
}

.login {
	position: absolute;
	right: 15%;
	width: 25%;
	top: 20%;
	padding-left: 30px;
	padding-right: 30px;
	border: 3px;
	border-width: 3px;
	border-color: #1c87c9;
	border-radius: 20px;
	background-color: white;
}

.login h1{
	color:black;
}

.login input {
	border-radius: 10px;
	border-collapse: collapse;
	outline: none;
	margin: 10px;
	min-width: 80%;
	font-size: 20px;
	padding: 10px;
}

.loginButton {
	border-collapse: collapse;
	padding: 4px;
	color: white;
	background-color: #1c87c9;
}

.loginImage{
	position: absolute;
	left: 15%;
	width:40%;
	height:40%;
	
	background: url("login.jpg");
}

/*search Result page*/
.searchResultBar {
	position: absolute;
	width: 25%;
	margin-left: 20px;
	top: 12%;
}

.searchResultBar input {
	border-radius: 10px;
	border-collapse: collapse;
	outline: none;
	margin: 10px;
	min-width: 80%;
	font-size: 20px;
	padding: 10px;
}

.flightsResult {
	position: relative;
	top: 12%;
	left: 30%;
	width: 40%;
}

.filters {
	position: absolute;
	top: 12%;
	right: 20px;
	width: 25%;
}

h1 {
	color: white;
}

.priceFilter {
	border: 2px;
	padding: 8px;
	padding-left:20px;
	padding-right:20px;
	margin: 8px;
	background-color: white;
	border-radius: 8px;
	border-color: red;
}

.filterButtons{	
	margin-left:10px;
	width:30%;
	padding: 7px;
	margin-top: 20px;
	color: white;
	background: #1c87c9;
	border-radius: 8px;
	font-size: 16px;
}